:root {
    --color-grey-10: #EEEEEE;
    --сolor-grey-15: #DFDFDF;
    --color-grey-20: #E1E1E1;
    --color-grey-25: #D5D5D5;
    --color-grey-27: #D7DCDF;
    --color-grey-30: #A6A6A6;
    --color-grey-31: #ABABAB;
    --сolor-black-10: #000000;
    --color-black-11: #231F20;
    --color-black-15: #444444;
    --color-black-16: #4D4D4D;
    --color-black-17: #666666;
    --color-black-20: #283136;
    --color-white: #FFFFFF;
    --color-red-10: #FB565A;
    --color-red-15: #E74246;
    --color-red-20: #D7373B;
    --color-green: #00CA74;
    --color-green-5: #00BC6C;
    --color-green-10: #00AA62;
    --color-yellow: #EFC849;
    --color-yellow-5: #EAB534;
    --color-yellow-10: #E5A722;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
    font-weight: 700;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-black-20);
    background-color: var(--color-white);
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.wrapper {
    max-width: 1157px;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

/* slider-content */

.slider-controls-button {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color-white);
    font-size: 0;
    border: 0;
    margin: 0 6px;
    cursor: pointer;
}

.hide {
    display: none;
}

/* Main navigation */

.main-content-top {
    width: 100%;
    background-color: var(--color-grey-10);
}

.main-header {
    background-color: var(--color-grey-10);
    padding-top: 49px;
}

.main-header-nav {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--сolor-black-10);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.basket {
    display: flex;
    align-items: center;
}

.basket-link {
    position: relative;
    ;
}

.basket-link::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/index-basket-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -25px;
    top: 34px;
    position: absolute;
    background-size: contain;
}

.site-navigation a, .basket-link {
    font-weight: 500;
    line-height: 30px;
    color: var(--сolor-black-10);
    display: block;
    padding: 25px 20px;
}

.site-navigation a:hover {
    color: var(--color-red-10);
}

.site-navigation a:active {
    color: var(--сolor-black-10);
}

.site-navigation-item {
    margin-right: 45px;
}

.basket-link:hover {
    color: var(--color-red-10);
}

.basket:active {
    opacity: 0.3;
}

.main-header-logo:active {
    opacity: 0.2;
}

/*button*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-red-10);
    font-weight: 500;
    height: 50px;
    min-width: 160px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 0;
}

.button.button-large {
    min-width: 240px;
}

.button.button-green {
    background-color: var(--color-green);
}

.button.button-yellow {
    background-color: var(--color-yellow);
}

.button.map-form-button {
    min-width: 219px;
}

.button:active {
    background-color: var(--color-red-20);
    color: rgba(255, 255, 255, 0.3)
}

.button:hover {
    background-color: var(--color-red-15);
}

.button.button-green:hover {
    background-color: var(--color-green-5);
    border-radius: 3px;
}

.button.button-green:active {
    background-color: var(--color-green-10);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.button.button-yellow:hover {
    background-color: var(--color-yellow-5);
    border-radius: 3px;
}

.button.button-yellow:active {
    background-color: var(--color-yellow-10);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

/*heading*/

.slider-heading {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    font-style: normal;
    color: var(--сolor-black-10);
    margin-bottom: 25px;
}

.services-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--сolor-black-10);
}

.about-main-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    font-style: normal;
    color: var(--сolor-black-10);
    margin-bottom: 32px;
}

.about-subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--сolor-black-10);
    margin-bottom: 23px;
}

.map-form-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    text-transform: uppercase;
    color: var(--сolor-black-10);
}

.main-footer-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
    color: var(--сolor-black-10);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*text*/

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    color: var(--color-black-15);
}

.slider-slogan {
    margin-bottom: 38px;
}

.about-slogan {
    margin-bottom: 40px;
}

/*table*/

.about-table-interest {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    font-style: normal;
    color: var(--сolor-black-10);
}

.about-table-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: var(--color-black-15);
}

.about-table-interest {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    font-style: normal;
    color: var(--сolor-black-10);
}

sup {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    font-style: normal;
}

/*services*/

.services {
    margin-bottom: 73px;
}

.services-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin-top: 80px;
    padding-bottom: 73px;
    border-bottom: solid 2px var(--color-grey-10);
}

.services-item {
    width: 300px;
}

/*companies*/

.companies {
    margin-bottom: 80px;
    border-bottom: solid 2px var(--color-grey-10);
}

.companies-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 46px;
    padding-bottom: 44px;
    padding-right: 32px;
    padding-left: 32px;
    position: relative;
}

.companies-site-item {
    position: relative;
}

.companies-site-item::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--color-grey-10);
    right: -44px;
    top: 50%;
    margin-top: -26px;
}

.companies-site-item:last-child::after {
    display: none;
}

.companies-site-link {
    opacity: 0.2;
}

.companies-site-link:hover {
    opacity: 1;
}

.companies-site-link:active {
    opacity: 0.1;
}

/*footer*/

.social {
    display: flex;
    list-style: none;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 81px;
    height: 81px;
    background-color: var(--color-grey-20);
    border-radius: 50%;
    margin-right: 9px;
}

.social-item:hover {
    color: var(--color-white);
    background-color: var(--color-red-15);
}

.social-item:active {
    color: var(--color-white);
    background-color: var(--color-red-20);
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 75px;
}

.map {
    position: relative;
}

.map-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 319px;
    background-color: var(--color-white);
}

.map-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.about {
    display: grid;
    grid-template-columns: 69.15% 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 46px;
    border-bottom: solid 2px var(--color-grey-10);
}

.about-text {
    margin-right: 149px;
}

.image {}

.slider-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.map-form-address {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-black-17);
}

.map-form-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-black-17);
}

.about-list {
    padding: 0;
}

.about-list-item {
    list-style: none;
    position: relative;
    padding-left: 32px;
    padding-bottom: 25px;
}

.about-list-item::before {
    content: "";
    background-color: var(--color-red-10);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 12px;
}

/* CATALOG.HTML */

.catalog-grid {
    display: flex;
}

/* button */

.filter-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    color: var(--сolor-black-10);
    background-color: var(--color-grey-10);
    border-radius: 3px;
    width: 260px;
    height: 50px;
}

.filter-button:hover {
    background-color: var(--сolor-grey-15);
}

.filter-button:active {
    background-color: var(--color-grey-25);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.button-price:hover {
    background-color: var(--color-red-15);
    border-radius: 3px;
}

.button-price:active {
    background-color: var(--color-red-20);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

/**/

.catalog-sort {
    display: flex;
    justify-content: space-between;
}

.catalog-sort-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.catalog-filter-sort {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    list-style: none;
    margin: 25px;
    text-transform: uppercase;
    color: var(--сolor-black-10);
}

.catalog-filter-sort a {
    color: var(--сolor-black-10);
    opacity: 0.3;
}

.catalog-filter-sort-item a:hover {
    opacity: 0.6;
}

.catalog-filter-sort-item a:active {
    color: var(--сolor-black-10);
}

/**/

.catalog-item-header {
    display: flex;
    align-items: center;
    width: 360px;
    height: 40px;
    background-color: var(--color-black-16);
    border-radius: 5px 5px 0 0;
    opacity: 0.12;
}

.catalog-item:hover .catalog-item-header {
    opacity: 1;
}

.catalog-item-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-grey-10);
    position: relative;
    margin-left: 39px;
}

.catalog-item-dot::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-grey-10);
    position: absolute;
    left: -23px;
}

.catalog-item-dot::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-grey-10);
    position: absolute;
    right: -23px;
}

/*pagination*/

.pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    width: 50px;
    height: 50px;
    background-color: var(--color-grey-10);
    border-radius: 3px;
    margin: 11px;
    color: var(--сolor-black-10);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination-item:hover {
    background-color: var(--сolor-grey-15);
}

.pagination-item:active {
    background-color: var(-);
}

.pagination-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--сolor-black-10);
}

.pagination-active {
    background-color: var(--color-white);
    border: solid 3px var(--color-grey-10);
    box-sizing: border-box;
}

.pagination-next {
    min-width: 260px;
    text-transform: uppercase;
}

/**/

.hero {
    background-color: var(--color-grey-10);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    padding-top: 9px;
    margin-bottom: 80px;
}

.slider-info {
    padding-top: 78px;
    padding-bottom: 80px;
}

.slider {
    width: 260px;
    height: 80px;
    background-color: var(--color-grey-10);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-strip {
    width: 203px;
    height: 2px;
    background-color: var(--color-grey-27);
    position: relative;
}

.slider-active-strip {
    position: absolute;
    left: 37px;
    right: 67px;
    height: 2px;
    background-color: var(--color-green);
}

.slider-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    margin-top: -9px;
}

.toggle-one {
    position: absolute;
    left: 25px;
}

.toggle-two {
    position: absolute;
    right: 67px;
}

.toggle-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color-grey-30);
}

.price-input {
    width: 80px;
    height: 38px;
    background-color: var(--color-grey-10);
    border-radius: 3px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
}

.price {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

fieldset {
    border: 0 none;
}

/*filter-grid*/

.filter-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    color: var(--сolor-black-10);
    text-transform: uppercase;
}

.info-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--сolor-black-10);
}

.info-text {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-black-17);
}

.radio-label {
    display: flex;
    flex-flow: column wrap;
    font-weight: 400;
    font-style: normal;
}

.radio-button {}

.radio {
    background-color: var(--color-black-16);
    width: 25px;
    height: 25px;
    opacity: 0.4;
    border-radius: 50%;
}

.filter-features {
    display: flex;
    flex-flow: column wrap;
}

.wrapperone {
    display: flex;
    flex-wrap: wrap;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 65px;
}

.main-content-heading {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    font-style: normal;
    color: var(--сolor-black-10);
    background-color: var(--color-grey-10);
    padding-top: 87px;
    padding-bottom: 108px;
    margin: 0;
    text-align: center;
}

/**/

.catalog-item {
    position: relative;
    margin-right: 42px;
    margin-bottom: 72px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-info {
    position: absolute;
    width: 100%;
    height: 231px;
    background-color: var(--color-grey-10);
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-item:hover .catalog-item-info {
    opacity: 1;
}

/*sort-direction-container*/

.sort-direction-button {
    border: 0;
    font-size: 0;
    background: transparent;
    width: 29px;
    opacity: 0.1;
    outline: none;
}

.sort-direction-button:hover {
    opacity: 0.2;
    ;
}

.sort-direction-button:active {
    opacity: 1;
}

.up {
    transform: rotate(180deg);
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    background-position: 0 0;
    background-repeat: repeat;
    background-color: var(--color-white);
    display: none;
}

.modal-map {
    width: 960px;
    height: 590px;
    background-color: var(--color-white);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    position: relative;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 90px;
    width: 21px;
    height: 21px;
    font-size: 0;
    border: 0;
    background: transparents;
}

.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: var(--color-red-20);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-heading {
    font-size: 45px;
}